div {
  width: 300px;
  height: 300px;
  background-color: #e5989b;
}
h1 {
  background-color: pink;
  width: 100px;
  margin-bottom: 0;
}

#one {
  background-color: #e5989b;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  /* box-sizing: border-box; */
  margin-left: 2em;
}
#two {
  background-color: #b5838d;
  border-color: #ffcdb2;
  border-width: 3px;
  border-style: dashed;
  border-color: blue;
  margin-left: 4em;
}
#three {
  background-color: #6d6875;
  border: 3px solid yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  padding-left: 2.5em;
  box-sizing: border-box;
  margin-left: 6em;
}
