h1 {
  text-align: center;
}

#container {
  display: flex;
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /* flex-wrap: wrap; */
}

#container div {
  width: 200px;
  height: 200px;
}

/* div:nth-of-type(2) {
  align-self: flex-start;
} */

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

/* flex: flex-grow | flex-shirink */
/* flex: flex-grow | flex-basis(단위사용) */
/* flex: flex-grow | flex-shirink | flex-basis */
main .sidebar {
  background-color: #6930c3;
  border: 2px solid white;
  flex: 1 300px;
}
main .maincontent {
  background-color: #80ffdb;
  flex: 2 800px;
}
